<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto JC Motors - Inicio de Sesión</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="/transiciones.css">
    <script src="/transiciones.js"></script>
</head>
<body>
    <div class="login-container">
        <div class="left-panel">
            <div class="left-content">
                <img src="/logo.png" alt="Auto JC Motors Logo">
                <div class="welcome-text">Bienvenido</div>
                <div class="no-account"><a href="#">¿Aún no tienes cuenta?</a></div>
                <button class="register-btn" id="to-register-btn">Registrarse</button>
            </div>
        </div>
        <div class="right-panel">
            <div class="right-content">
                <div class="session-title">Inicio de Sesión</div>
                <form action="/login" method="POST">
                    <div class="input-container">
                        <span class="input-icon"><i class="bi bi-person"></i></span>
                        <input type="text" class="input-field" placeholder="Usuario" name="usuario" required>
                    </div>
                    <div class="input-container">
                        <span class="input-icon"><i class="bi bi-lock"></i></span>
                        <input type="password" class="input-field" placeholder="Contraseña" name="password" id="password" required>
                        <span class="eye-icon" id="eye-icon"><i class="bi bi-eye"></i></span>
                    </div>
                    
                    <div class="forgot-password"><a href="#">¿Olvidaste tu contraseña?</a></div>
                    <div class="forgot-password"><a href="/">Entrar como invitado</a></div>
                    <button type="submit" class="login-btn">Iniciar sesión</button>
                </form>
            </div>
        </div>
    </div>

</body>
<script>
    document.getElementById('eye-icon').addEventListener('click', function() {
    var passwordField = document.getElementById('password');
    var eyeIcon = document.getElementById('eye-icon');

    if (passwordField.type === "password") {
        passwordField.type = "text";
        eyeIcon.innerHTML = '<i class="bi bi-eye-slash"></i>'; // Cambia a icono de ojo cerrado
    } else {
        passwordField.type = "password";
        eyeIcon.innerHTML = '<i class="bi bi-eye"></i>'; // Vuelve al icono de ojo abierto
    }
});

</script>
</html>
